<form>
  <span>StartDate</span>: <input type="date" ng-model="startDate"> &nbsp;&nbsp; &nbsp;
  <span>EndDate</span>: <input type="date" ng-model="endDate"> &nbsp; &nbsp; &nbsp;
  <span>Category</span>: <input type="text" ng-model="category"> &nbsp; &nbsp; &nbsp;
  <button class="btn btn-default" ng-click="search()">Search</button> &nbsp; &nbsp; &nbsp;
  <a class= "btn btn-default lead text-center" href="https://docs.google.com/spreadsheets/d/1QYPfi6RCTeq1SmQELpvzuMFemWOIJkI4gG63eKRLBvk/edit#gid=0">google sheets</a>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Joined Date</th>
      <th>Markets</th>
      <th>Founders</th>
    </tr>
  </thead>
  <tbody ng-repeat="result in results" style="border: 5px solid black; margin-bottom: 4px">
    <tr >
      <td><a href="{{result.angellist_url}}">{{result.name}}</a></td>
      <td>{{result.created_at.substring(0, 10)}}</td>
      <td>{{result.markets.join(" | ")}}</td>
      <td><span ng-repeat="founder in result.founders"><a ng-href="{{founder.founderAngelURL}}">{{founder.founderName}}</a> | <span></td>
    </tr>
    <tr ng-show="result.product_desc !== null && result.product_desc !== ''">
      <td colspan="4">{{result.product_desc}}</td>
    </tr>
  </tbody>
</table>
